# COURSE: Big Data - CTS43135

## Lab Instruction #6:  
**Building a Movie Recommendation System Using PySpark and Spark MLlib**

### Lab Objectives:
- Understand how to process and analyze large-scale data using PySpark and Spark MLlib.
- Explore and manipulate structured datasets with Spark SQL and DataFrames.
- Implement collaborative filtering for recommendation systems using the ALS algorithm.

### Prerequisites:
- Basic knowledge of Python, SQL, and Machine Learning is recommended.
- This lab runs on Python 3.6+ with Apache Spark 3.x.
- A working environment like Jupyter Notebook or Google Colab is recommended for easier execution.

### Activity 1: Preparing the MovieLens Dataset

#### 1. Download this dataset.

In [1]:
!wget -O ml-1m.zip https://files.grouplens.org/datasets/movielens/ml-1m.zip

--2025-05-13 08:03:17--  https://files.grouplens.org/datasets/movielens/ml-1m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5917549 (5.6M) [application/zip]
Saving to: ‘ml-1m.zip’

ml-1m.zip           100%[===================>]   5.64M  3.34MB/s    in 1.7s

2025-05-13 08:03:20 (3.34 MB/s) - ‘ml-1m.zip’ saved [5917549/5917549]

#### 2. Extract the ZIP file.

In [ ]:
import zipfile
with zipfile.ZipFile("ml-1m.zip", "r") as zip_ref:
    # Extracts the contents into a folder named "ml-1m"
    zip_ref.extractall("ml-1m")

#### 3. Defining Schemas for MovieLens Dataset in PySpark.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType, StringType

spark = SparkSession.builder \
    .appName("MovieLensRecommendation") \
    .getOrCreate()

ratings_schema = StructType([
    StructField("userId", IntegerType(), True),
    StructField("movieId", IntegerType(), True),
    StructField("rating", DoubleType(), True),
    StructField("timestamp", IntegerType(), True)
])

#### Task 1: create a schema for the movies.data file from the MovieLens dataset

In [5]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

movies_schema = StructType([
    StructField("movieId", IntegerType(), True),
    StructField("title", StringType(), True),
    StructField("genres", StringType(), True)
])

#### 4. Load the MovieLens Dataset.

In [ ]:
ratings_df = spark.read.csv(
    'ml-1m/ml-1m/ratings.dat', sep="::", schema=ratings_schema, header=False)
ratings_df = ratings_df.drop("timestamp")
movies_df = spark.read.csv('ml-1m/ml-1m/movies.dat',
                           sep="::", schema=movies_schema, header=False)

#### 5. Cache the DataFrames.

In [ ]:
ratings_df.cache()
movies_df.cache()

25/05/13 08:14:23 WARN CacheManager: Asked to cache already cached data.

DataFrame[movieId: int, title: string, genres: string]

#### 6. Count the Number of Ratings and Movies.

In [ ]:
ratings_count = ratings_df.count()
movies_count = movies_df.count()
print(
    f"There are {ratings_count} ratings and {movies_count} movies in the dataset.")

There are 1000209 ratings and 3883 movies in the dataset.

#### 7. Display Sample Data.

In [ ]:
print("Ratings Data Sample:")
ratings_df.show(3)  # Show first 3 rows of ratings data
print("Movies Data Sample:")
# Show first 3 rows of movies data (without truncating movie titles)
movies_df.show(3, truncate=False)

Ratings Data Sample:
+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|   1193|   5.0|
|     1|    661|   3.0|
|     1|    914|   3.0|
+------+-------+------+
only showing top 3 rows

Movies Data Sample:
+-------+-----------------------+----------------------------+
|movieId|title                  |genres                      |
+-------+-----------------------+----------------------------+
|1      |Toy Story (1995)       |Animation|Children's|Comedy |
|2      |Jumanji (1995)         |Adventure|Children's|Fantasy|
|3      |Grumpier Old Men (1995)|Comedy|Romance              |
+-------+-----------------------+----------------------------+
only showing top 3 rows

### Activity 2: Computing Average Ratings

#### 1. Import Required Libraries.

In [ ]:
from pyspark.sql import functions as F

#### 2. Compute the Average Ratings Per Movie. Using ratings_df, compute the average rating and the number of ratings per movie.

In [ ]:
movie_ids_with_avg_ratings_df = (ratings_df
                                 .groupBy('movieId')  # Group by movie ID
                                 .agg(F.count(ratings_df.rating).alias("count"),  # Count the number of ratings
                                      F.avg(ratings_df.rating).alias("average"))  # Compute the average rating
                                 )

In [ ]:
print("movie_ids_with_avg_ratings_df:")
movie_ids_with_avg_ratings_df.show(3, truncate=False)

movie_ids_with_avg_ratings_df:

+-------+-----+------------------+
|movieId|count|average           |
+-------+-----+------------------+
|1580   |2538 |3.739952718676123 |
|2366   |756  |3.6560846560846563|
|1088   |687  |3.3114992721979624|
+-------+-----+------------------+
only showing top 3 rows

#### 3. Add Movie Titles to the DataFrame.

In [ ]:
movie_names_with_avg_ratings_df = movie_ids_with_avg_ratings_df.join(
    movies_df,  # Joining with movies dataset
    movie_ids_with_avg_ratings_df.movieId == movies_df.movieId  # Matching on movie ID
)

In [ ]:
print("movie_names_with_avg_ratings_df:")
movie_names_with_avg_ratings_df.show(3, truncate=False)

movie_names_with_avg_ratings_df:

+-------+-----+------------------+-------+--------------------+------------------------------+
|movieId|count|average           |movieId|title               |genres                        |
+-------+-----+------------------+-------+--------------------+------------------------------+
|1580   |2538 |3.739952718676123 |1580   |Men in Black (1997) |Action|Adventure|Comedy|Sci-Fi|
|2366   |756  |3.6560846560846563|2366   |King Kong (1933)    |Action|Adventure|Horror       |
|1088   |687  |3.3114992721979624|1088   |Dirty Dancing (1987)|Musical|Romance               |
+-------+-----+------------------+-------+--------------------+------------------------------+
only showing top 3 rows

#### Task 2: Filter the movies dataset to include only movies with at least 500 reviews and sort them by highest average rating.

In [ ]:
filtered_movies_df = (movie_names_with_avg_ratings_df
                      .filter(movie_names_with_avg_ratings_df["count"] >= 500)  # Filter movies with at least 500 reviews
                      .orderBy(movie_names_with_avg_ratings_df["average"].desc())  # Sort by highest average rating
                      )

print("Filtered Movies with at least 500 reviews, sorted by highest average rating:")
filtered_movies_df.show(10, truncate=False)  # Display the top 10 movies

Filtered Movies with at least 500 reviews, sorted by highest average rating:
+-------+-----+-----------------+-------+-------------------------------------------------------------------+-------------------------------+
|movieId|count|average          |movieId|title                                                              |genres                         |
+-------+-----+-----------------+-------+-------------------------------------------------------------------+-------------------------------+
|2019   |628  |4.560509554140127|2019   |Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)|Action|Drama                   |
|318    |2227 |4.554557700942973|318    |Shawshank Redemption, The (1994)                                   |Drama                          |
|858    |2223 |4.524966261808367|858    |Godfather, The (1972)                                              |Action|Crime|Drama             |
|745    |657  |4.52054794520548 |745    |Close Shave, A (1995)                                              |Animation|Comedy|Thriller      |
|50     |1783 |4.517106001121705|50     |Usual Suspects, The (1995)                                         |Crime|Thriller                 |
|527    |2304 |4.510416666666667|527    |Schindler's List (1993)                                            |Drama|War                      |
|1148   |882  |4.507936507936508|1148   |Wrong Trousers, The (1993)                                         |Animation|Comedy               |
|1198   |2514 |4.477724741447892|1198   |Raiders of the Lost Ark (1981)                                     |Action|Adventure               |
|904    |1050 |4.476190476190476|904    |Rear Window (1954)                                                 |Mystery|Thriller               |
|260    |2991 |4.453694416583082|260    |Star Wars: Episode IV - A New Hope (1977)                          |Action|Adventure|Fantasy|Sci-Fi|
+-------+-----+-----------------+-------+-------------------------------------------------------------------+-------------------------------+
only showing top 10 rows

### Activity 3: Collaborative Filtering with ALS

#### 1. Creating a Training Set.

In [ ]:
from pyspark.mllib.recommendation import Rating

# Convert DataFrame to RDD for MLlib compatibility
ratings_rdd = ratings_df.rdd.map(lambda row: Rating(row.userId, row.movieId, row.rating))
# Randomly split the RDD into training (60%), validation (20%), and test (20%) sets
seed = 1800009193
(training_rdd, validation_rdd, test_rdd) = ratings_rdd.randomSplit([0.6, 0.2,
0.2], seed=seed)
# Cache the RDDs for performance
training_rdd.cache()
validation_rdd.cache()
test_rdd.cache()
# Print dataset sizes
print(f'Training: {training_rdd.count()}, Validation: {validation_rdd.count()}, Test: {test_rdd.count()}\n')
# Show sample data from each dataset
print("Training Sample:")
print(training_rdd.take(3)) # Take 3 samples from training set
print("Validation Sample:")
print(validation_rdd.take(3)) # Take 3 samples from validation set
print("Test Sample:")
print(test_rdd.take(3)) # Take 3 samples from test set

25/05/13 08:25:42 WARN BlockManager: Task 27 already completed, not releasing lock for rdd_70_0
25/05/13 08:25:42 WARN BlockManager: Task 28 already completed, not releasing lock for rdd_71_0

Training: 600148, Validation: 200360, Test: 199701

Training Sample:
[Rating(user=1, product=1193, rating=5.0), Rating(user=1, product=661, rating=3.0), Rating(user=1, product=914, rating=3.0)]
Validation Sample:
[Rating(user=1, product=3408, rating=4.0), Rating(user=1, product=1035, rating=5.0), Rating(user=1, product=720, rating=3.0)]
Test Sample:
[Rating(user=1, product=2804, rating=5.0), Rating(user=1, product=594, rating=4.0), Rating(user=1, product=919, rating=4.0)]

#### 2. Alternating Least Squares

In [ ]:
from pyspark.mllib.recommendation import ALS, Rating
from math import sqrt

In [ ]:
# Define hyperparameters for ALS
rank = 10  # Number of latent factors
iterations = 10  # Number of iterations
reg_param = 0.1  # Regularization parameter

# Train the ALS model
model = ALS.train(training_rdd, rank, iterations=iterations, lambda_=reg_param)

25/05/13 08:29:18 WARN BlockManager: Task 30 already completed, not releasing lock for rdd_70_0
25/05/13 08:29:21 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
25/05/13 08:29:22 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.lapack.JNILAPACK

In [ ]:
# Generate predictions using the ALS model and the test dataset
predictions_rdd = model.predictAll(test_rdd.map(lambda x: (x.user, x.product)))

# Convert predictions to the format ((userId, movieId), rating)
predictions_rdd = predictions_rdd.map(lambda r: ((r.user, r.product), r.rating))

# Convert actual ratings to the same format ((userId, movieId), rating)
actual_ratings_rdd = validation_rdd.map(lambda x: ((x[0], x[1]), x[2]))
# Join actual ratings with predictions
joined_rdd = actual_ratings_rdd.join(predictions_rdd)

25/05/13 08:32:43 WARN BlockManager: Task 155 already completed, not releasing lock for rdd_72_0

In [ ]:
# Compute RMSE
mse = joined_rdd.map(lambda x: (x[1][0] - x[1][1]) ** 2).mean()
rmse = sqrt(mse)

#### 3. Implementing Everything in a Single Function.

In [54]:
def train_als_model(training_rdd, validation_rdd, rank, iterations=5, reg_param=0.1):
    """
    Trains an ALS model and evaluates its performance using RMSE.
    Parameters:
    training_rdd (RDD): Training dataset in RDD format
    validation_rdd (RDD): Validation dataset in RDD format
    rank (int): Number of latent factors for ALS
    iterations (int): Number of iterations for ALS optimization
    reg_param (float): Regularization parameter for ALS
    Returns:
    model: Trained ALS model
    rmse (float): Computed RMSE value
    """
    # Train ALS model
    model = ALS.train(training_rdd, rank, iterations=iterations, lambda_=reg_param)
    
    # Generate predictions for validation set using predictAll
    validation_pairs_rdd = validation_rdd.map(lambda x: (x[0], x[1]))  # Extract (userId, movieId) pairs
    predictions_rdd = model.predictAll(validation_pairs_rdd)
    
    # Format predictions as ((userId, movieId), rating)
    predictions_rdd = predictions_rdd.map(lambda r: ((r.user, r.product), r.rating))
    actual_ratings_rdd = validation_rdd.map(lambda x: ((x[0], x[1]), x[2]))
    
    # Join actual ratings with predictions
    joined_rdd = actual_ratings_rdd.join(predictions_rdd)
    
    # Compute RMSE
    mse = joined_rdd.map(lambda x: (x[1][0] - x[1][1]) ** 2).mean()
    rmse = sqrt(mse)
    
    return model, rmse

#### 4. Train the Model with Sample Parameters.

In [55]:
# Define model parameters
rank = 8
iterations = 5
reg_param = 0.1

# Train the model and get RMSE
als_model, rmse = train_als_model(training_rdd, validation_rdd, rank, iterations, reg_param)
print(f"Trained ALS Model with Rank {rank}, RMSE: {rmse}")

25/05/13 08:45:41 WARN BlockManager: Task 543 already completed, not releasing lock for rdd_70_0

Trained ALS Model with Rank 8, RMSE: 0.8865960168370369

#### Task 3: Tune ALS hyperparameters by testing different ranks (4, 8, 12, 16, 20) and regularization parameters (0.01, 0.1, 0.5, 1.0) to find the best model with the lowest RMSE

In [56]:
# Define hyperparameter ranges
ranks = [4, 8, 12, 16, 20]
reg_params = [0.01, 0.1, 0.5, 1.0]
iterations = 10  # Fixed number of iterations

# Initialize variables to track the best model and lowest RMSE
best_model = None
lowest_rmse = float("inf")
best_rank = None
best_reg_param = None

# Loop through all combinations of ranks and regularization parameters
for rank in ranks:
    for reg_param in reg_params:
        print(f"Training ALS model with rank={rank}, reg_param={reg_param}...")
        model, rmse = train_als_model(training_rdd, validation_rdd, rank, iterations, reg_param)
        print(f"RMSE for rank={rank}, reg_param={reg_param}: {rmse}")
        
        # Update the best model if the current RMSE is lower
        if rmse < lowest_rmse:
            best_model = model
            lowest_rmse = rmse
            best_rank = rank
            best_reg_param = reg_param

# Print the best hyperparameters and corresponding RMSE
print(f"Best Model: rank={best_rank}, reg_param={best_reg_param}, RMSE={lowest_rmse}")

Training ALS model with rank=4, reg_param=0.01...

25/05/13 08:47:34 WARN BlockManager: Task 599 already completed, not releasing lock for rdd_70_0
25/05/13 08:47:48 WARN BlockManager: Task 675 already completed, not releasing lock for rdd_70_0

RMSE for rank=4, reg_param=0.01: 0.8886953466687424
Training ALS model with rank=4, reg_param=0.1...

25/05/13 08:47:59 WARN BlockManager: Task 751 already completed, not releasing lock for rdd_70_0

RMSE for rank=4, reg_param=0.1: 0.8825961024153572
Training ALS model with rank=4, reg_param=0.5...

25/05/13 08:48:03 WARN BlockManager: Task 812 already completed, not releasing lock for rdd_71_0
25/05/13 08:48:10 WARN BlockManager: Task 827 already completed, not releasing lock for rdd_70_0

RMSE for rank=4, reg_param=0.5: 1.0414927582913502
Training ALS model with rank=4, reg_param=1.0...

25/05/13 08:48:14 WARN BlockManager: Task 888 already completed, not releasing lock for rdd_71_0
25/05/13 08:48:22 WARN BlockManager: Task 903 already completed, not releasing lock for rdd_70_0

RMSE for rank=4, reg_param=1.0: 1.353273619438716
Training ALS model with rank=8, reg_param=0.01...

25/05/13 08:48:27 WARN BlockManager: Task 964 already completed, not releasing lock for rdd_71_0
25/05/13 08:48:35 WARN BlockManager: Task 979 already completed, not releasing lock for rdd_70_0

RMSE for rank=8, reg_param=0.01: 0.9119606736114848
Training ALS model with rank=8, reg_param=0.1...

25/05/13 08:48:38 WARN BlockManager: Task 1040 already completed, not releasing lock for rdd_71_0
25/05/13 08:48:46 WARN BlockManager: Task 1055 already completed, not releasing lock for rdd_70_0

RMSE for rank=8, reg_param=0.1: 0.877997230772522
Training ALS model with rank=8, reg_param=0.5...

25/05/13 08:48:51 WARN BlockManager: Task 1116 already completed, not releasing lock for rdd_71_0
25/05/13 08:48:59 WARN BlockManager: Task 1131 already completed, not releasing lock for rdd_70_0

RMSE for rank=8, reg_param=0.5: 1.0415585620788654
Training ALS model with rank=8, reg_param=1.0...

25/05/13 08:49:03 WARN BlockManager: Task 1192 already completed, not releasing lock for rdd_71_0
25/05/13 08:49:10 WARN BlockManager: Task 1207 already completed, not releasing lock for rdd_70_0

RMSE for rank=8, reg_param=1.0: 1.3532736229900182
Training ALS model with rank=12, reg_param=0.01...

25/05/13 08:49:15 WARN BlockManager: Task 1268 already completed, not releasing lock for rdd_71_0
25/05/13 08:49:22 WARN BlockManager: Task 1283 already completed, not releasing lock for rdd_70_0

RMSE for rank=12, reg_param=0.01: 0.9458675208963655
Training ALS model with rank=12, reg_param=0.1...

25/05/13 08:49:26 WARN BlockManager: Task 1344 already completed, not releasing lock for rdd_71_0

RMSE for rank=12, reg_param=0.1: 0.8762159835415577
Training ALS model with rank=12, reg_param=0.5...

25/05/13 08:49:40 WARN BlockManager: Task 1420 already completed, not releasing lock for rdd_71_0
25/05/13 08:49:47 WARN BlockManager: Task 1435 already completed, not releasing lock for rdd_70_0

RMSE for rank=12, reg_param=0.5: 1.0417109457980003
Training ALS model with rank=12, reg_param=1.0...

25/05/13 08:49:51 WARN BlockManager: Task 1496 already completed, not releasing lock for rdd_71_0
25/05/13 08:49:59 WARN BlockManager: Task 1511 already completed, not releasing lock for rdd_70_0

RMSE for rank=12, reg_param=1.0: 1.3532735867326133
Training ALS model with rank=16, reg_param=0.01...

25/05/13 08:50:05 WARN BlockManager: Task 1572 already completed, not releasing lock for rdd_71_0
25/05/13 08:50:13 WARN BlockManager: Task 1587 already completed, not releasing lock for rdd_70_0

RMSE for rank=16, reg_param=0.01: 0.9729746212858474
Training ALS model with rank=16, reg_param=0.1...

25/05/13 08:50:19 WARN BlockManager: Task 1648 already completed, not releasing lock for rdd_71_0
25/05/13 08:50:27 WARN BlockManager: Task 1663 already completed, not releasing lock for rdd_70_0

RMSE for rank=16, reg_param=0.1: 0.8753397196988003
Training ALS model with rank=16, reg_param=0.5...

25/05/13 08:50:33 WARN BlockManager: Task 1724 already completed, not releasing lock for rdd_71_0
25/05/13 08:50:42 WARN BlockManager: Task 1739 already completed, not releasing lock for rdd_70_0

RMSE for rank=16, reg_param=0.5: 1.0415000717064238
Training ALS model with rank=16, reg_param=1.0...

25/05/13 08:50:49 WARN BlockManager: Task 1800 already completed, not releasing lock for rdd_71_0
25/05/13 08:50:57 WARN BlockManager: Task 1815 already completed, not releasing lock for rdd_70_0

RMSE for rank=16, reg_param=1.0: 1.3532736255809035
Training ALS model with rank=20, reg_param=0.01...

25/05/13 08:51:04 WARN BlockManager: Task 1876 already completed, not releasing lock for rdd_71_0
25/05/13 08:51:12 WARN BlockManager: Task 1891 already completed, not releasing lock for rdd_70_0

RMSE for rank=20, reg_param=0.01: 0.9929500800876881
Training ALS model with rank=20, reg_param=0.1...

25/05/13 08:51:28 WARN BlockManager: Task 1967 already completed, not releasing lock for rdd_70_0

RMSE for rank=20, reg_param=0.1: 0.8755614725838616
Training ALS model with rank=20, reg_param=0.5...

25/05/13 08:51:35 WARN BlockManager: Task 2028 already completed, not releasing lock for rdd_71_0
25/05/13 08:51:43 WARN BlockManager: Task 2043 already completed, not releasing lock for rdd_70_0

RMSE for rank=20, reg_param=0.5: 1.0414866821627662
Training ALS model with rank=20, reg_param=1.0...

25/05/13 08:51:48 WARN BlockManager: Task 2104 already completed, not releasing lock for rdd_71_0

RMSE for rank=20, reg_param=1.0: 1.3532730320128687
Best Model: rank=16, reg_param=0.1, RMSE=0.8753397196988003